.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Estilos generales del encabezado */
.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  flex-wrap: wrap; /* Permitir que el contenido se ajuste */
}

/* Estilos generales del encabezado */
.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
  flex-wrap: wrap; /* Permitir que el contenido se ajuste */
}

.top-head h1 {
  margin: 0;
  font-size: 24px;
}

.nav-options {
  justify-content: center; /* Centrar los botones */
}


.LoginButton,
.RegisterButton {
  border: 2px solid white; /* Bordes blancos */
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.Buttons{
  border: 2px solid white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.Buttons:hover,
.LoginButton:hover,
.RegisterButton:hover {
  background-color: #e6ef68; /* Cambiar fondo al pasar el ratón */
}

/* Estilos responsive */
@media (max-width: 768px) {
  .top-head {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinear a la izquierda */
  }

  .nav-options {
    width: 100%; /* Hacer que los botones ocupen el ancho completo */
    justify-content: space-between; /* Espaciar los botones */
  }
}

@media (max-width: 480px) {
  .top-head h1 {
    font-size: 20px; /* Reducir tamaño del título */
  }

  .Buttons,
  .LoginButton,
  .RegisterButton {
    padding: 8px 10px; /* Ajustar el padding de los botones */
    font-size: 14px; /* Reducir tamaño de texto en botones */
  }
}
